In [1]:
# This module contains functions that generate trends for the remaining columns

In [2]:
# importing necessary libraries
import pandas as pd
import numpy as np
import re

In [3]:
# import build_dataset module
import build_dataset as bd

In [4]:
# get df of astrological data
df = bd.df
df.head()

,Sun Sign,Date,Description,Compatibility,Mood,Color,Lucky Number,Lucky Time
0,aries,"December 13, 2022",Education is one of the very few subjects you'...,Scorpio,Curious,Silver,49,4pm
1,taurus,"December 13, 2022","If anyone can handle intensity, it's you. Your...",Scorpio,Helpless,Pink,75,8am
2,gemini,"December 13, 2022","You've got something to say to a loved one, an...",Pisces,Serious,Navy,71,10pm
3,cancer,"December 13, 2022",You've never been famous for making promises y...,Gemini,Honest,Spring,2,9am
4,leo,"December 13, 2022",If anyone is equipped to deliver a truly meani...,Scorpio,Talkative,Orchid,82,7am

In [5]:
def overall(var, sign):
    temp = df.groupby('Sun Sign')[var].apply(list)
    lst = temp[sign]
    return max(lst, key=lst.count)

In [9]:
overall('Color', 'capricorn')

'Purple'

In [7]:
def overall_color(sign):
    temp = df.groupby('Sun Sign')['Color'].apply(list)
    lst = temp[sign]
    return max(lst, key=lst.count)

In [8]:
overall_color('capricorn')

'Purple'

In [14]:
def overall_lucky_number(sign):
    temp = df.groupby('Sun Sign')['Lucky Number'].apply(list)
    lst = temp[sign]
    return max(lst, key=lst.count)

In [15]:
overall_lucky_number('capricorn')

'88'

In [16]:
def overall_lucky_time(sign):
    temp = df.groupby('Sun Sign')['Lucky Time'].apply(list)
    lst = temp[sign]
    return max(lst, key=lst.count)

In [17]:
overall_lucky_time('capricorn')

'2pm'

In [29]:
def overall_lucky_time_period(sign):
    temp = df
    temp['Lucky Time Period'] = temp['Lucky Time'].apply(lambda x: re.findall(r'(am|pm)', x))
    temp = temp.groupby('Sun Sign')['Lucky Time Period'].sum()
    lst = temp[sign]
    return max(lst, key=lst.count)

In [30]:
overall_lucky_time_period('capricorn')

'pm'