In [1]:
# This module contains functions that generate trends for the remaining columns

In [2]:
# importing necessary libraries
import pandas as pd
import numpy as np
import re

In [3]:
# import build_dataset module
import build_dataset as bd

In [4]:
# get df of astrological data
df = bd.df
df.head()

,Sun Sign,Date,Description,Compatibility,Mood,Color,Lucky Number,Lucky Time
0,aries,"December 16, 2022",A relationship with someone you've been trying...,Scorpio,Sincere,Brown,68,8am
1,taurus,"December 16, 2022","The Moon will be full when you open your eyes,...",Aquarius,Successful,Rose,34,9pm
2,gemini,"December 16, 2022",The truth about a friend will surface now. Tha...,Libra,Surprised,Peach,35,6am
3,cancer,"December 16, 2022","If you feel stalled, especially when it comes ...",Aries,Warm,Navy,49,4pm
4,leo,"December 16, 2022",You've done everything you can in a situation ...,Capricorn,Focus,Blue,31,5pm

In [5]:
def overall(var, sign):
	'''
	This function generates key trends based on what the user wants to know about over a long(er)
	term period.

	Parameters:
	-----------
		var: a string that represents the column in which the user wants to know about
		sign: a string, the zodiac sign

	Returns:
	--------
	The return value is the most prominent column value over the 3 day period.
    Example:
	--------
	>>>> overall('Color', 'capricorn')
	'Brown'
    '''
	assert type(sign) == str, "sign must be a valid zodiac sign"
	assert type(var) == str, "var must be a valid data name"
	temp=df.groupby('Sun Sign')[var].apply(list)
	lst = temp[sign]
	return max(lst, key=lst.count)

In [6]:
overall('Color', 'capricorn')

'Brown'